<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>학번</th>
                <th>이름</th>
				<th>주소</th>
				<th>학년</th>
				<th>메모</th>
            </tr>
        </thead>
        <tbody>
			<tr th:each="students, loop : ${studentsList}">
			    <td th:text="${students.stid}"></td>
			    <td th:text="${students.name}"></td>
			    <td th:text="${students.add}"></td>
			    <td th:text="${students.grade}"></td>
			    <td th:text="${students.gmemo}"></td>
			</tr>
        </tbody>
    </table>
</div>
</html>